.Main {
    font-family: sans-serif;
    font-size: 70px;
    color: white;
    padding: 3% 3% 0 3%;
}

.Para {
    font-size: 25px;
    color: white;
    padding: 0 3% 3% 3%;
}

@media only screen and (max-width: 500px) {
    .Main{
        font-size: 35px;
        padding: 1% 1% 0 1%;
    }
}

@media only screen and (max-width: 900px) {
    .Main{
        font-size: 45px;
        padding: 1% 1% 0 1%;
    }
}