.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 3px 4px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Post:hover,
.Post:active{
    background-color: whitesmoke;
}

.Author{
    margin: 16px 0;
    color: #ccc;
}

.Image{
    width: 100%;
}